.wrapperPhone {border: 2px solid rgba(170, 172, 207, 0.685);
               border-radius: 10px;
               padding: 20px;
               background-color: rgb(189, 207, 241);
               margin-top: 70px;
               margin-bottom: 30px;
               box-shadow: 1.5px 4px 3px rgba(152, 152, 167, 0.685);}

